body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #FFF8DC;
    color: #333;
    padding: 0;
    margin: 0;
}

html {
  scroll-behavior: smooth;
}

.container {
    width: 85%;
    max-width: 85%;
    margin: 0 auto;
    padding: 30px 0;
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #8B2500;
    height: auto;
    width: 100%;
}

.logo {
    width: 220px;
}

.menus {
    display: flex;
    gap: 50px;
    margin-top: 40px;
    margin-bottom: 20px;
}

.menu-link {
    font-size: 1em;
    color: #FFF8DC;
    text-decoration: none;
    font-weight: bold;
    transition: transform 0.5s ease;
}

.menu-link:hover {
    transform: scale(1.05);
    color: #ffffff;
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    gap: 10px;
    margin-bottom: 40px;
}

.product-grid a {
    text-decoration: none;
    color: inherit;
}


.product-card {
    background: #fff;
    border-radius: 12px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s, box-shadow 0.3s;
    padding: 10px;
}

.product-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.product-card img {
    width: 90%;
    height: auto;
    object-fit: cover;
    border-radius: 10px;
    display: block;
    margin: 0 auto; 
}

.product-card .info {
    padding: 10px;
}


.product-card .info h3 {
    margin: 5px 0;
}

.product-card .info .rating {
    color: #ffcc00;
    font-size: 1rem;
    margin-bottom: 20px;
}

.product-card .info .price {
    font-size: 1.5rem;
    color: #2e2e2e;
    font-weight: bold;
}

@media (max-width: 768px) {
    body {
        font-size: 15px;
    }

    .product-card .info .price {
        font-size: 1rem;
    }

    .product-grid {
        grid-template-columns: 1fr 1fr;
        gap: 15px;
    }
}
